// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  background-color: #00FFCC;
  box-shadow: 5px 5px 5px #00FFCC;
  padding: 1px 0px 1px 0px;
  margin: 10px 5% 0px 5%;
  word-wrap: break-word;
}

.comment-form {
  background-color: #00FFCC;
  box-shadow: 5px 5px 5px #00FFCC;
  padding: 1px 0px 1px 0px;
  margin: 10px 5% 0px 5%;
  word-wrap: break-word;
}